{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Voucher" />

<f:section name="header">
	<div class="module-docheader t3js-module-docheader" style="height: auto;">
		<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto;">
			<div class="module-docheader-bar-column-left">
				<f:comment>
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Neue Gutscheincodes downloaden" controller="Voucher" action="generate" />
						<f:be.menus.actionMenuItem label="Gutscheincodes anzeigen" controller="Voucher" action="index" />							
					</f:be.menus.actionMenu>
				</f:comment>
			</div>
			<div class="module-docheader-bar-column-right">
				<div class="btn-toolbar" role="toolbar" aria-label="">	
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
	</div>
</f:section>

<f:section name="headline">
	<h1>Neue Gutscheincodes downloaden</h1>
</f:section>

<f:section name="filter" />	
	
<f:section name="content">	
	<f:if condition="{identifier}!=''">
		<script>
			TYPO3.jQuery(document).ready(function() {
				window.location.replace('<f:uri.action action="download" absolute="1" arguments="{identifier:identifier}" />');
			});	
		</script>
	</f:if>
	<f:form class="form-inline form-inline-spaced" action="generate" controller="Voucher" name="generate" object="{generate}" >
		<div class="form-group">
			<label class="hidden" for="element">Ziel</label>
			<div class="form-group">
				<f:form.select class="form-control input-sm" property="element" options="{elements}" />
			</div>
		</div>
		<div class="form-group">
			<label class="hidden" for="element">Anzahl</label>
			<div class="form-group">
				<f:form.select class="form-control input-sm" property="amount" options="{1:'1 Code',5:'5 Codes',10:'10 Codes',25:'25 Codes',50:'50 Codes',100:'100 Codes',250:'250 Codes',500:'500 Codes',1000:'1000 Codes'}" />
			</div>
		</div>
		<div class="form-group">
			<input class="btn btn-default btn-sm" type="submit" value="erzeugen und downloaden">
		</div>
	</f:form>
</f:section>