{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Voucher" />

<f:section name="header">
	<div class="module-docheader t3js-module-docheader" style="height: auto;">
		<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto;">
			<div class="module-docheader-bar-column-left">
				<f:be.menus.actionMenu>
					<f:be.menus.actionMenuItem label="Gutscheincodes anzeigen" controller="Voucher" action="index" />
					<f:be.menus.actionMenuItem label="Neue Gutscheincodes downloaden" controller="Voucher" action="generate" />		
				</f:be.menus.actionMenu>
			</div>
			<div class="module-docheader-bar-column-right">
				<div class="btn-toolbar" role="toolbar" aria-label="">	
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
	</div>
</f:section>

<f:section name="headline">
	<h1>Gutschein-Codes</h1>
</f:section>

<f:section name="filter">	
	<f:form class="form-inline form-inline-spaced" action="filter" controller="Voucher" name="filter" object="{filter}" >
		<div class="form-group">
			<label class="hidden" for="element">Ziel</label>
			<div class="form-group">
				<f:form.select class="form-control input-sm" property="element" options="{elements}" />
			</div>
		</div>
		<div class="form-group">
			<label class="hidden" for="element">Status</label>
			<div class="form-group">
				<f:form.select class="form-control input-sm" property="element" options="{0:'Nur ungenutzte Codes anzeigen',1:'Nur bereits genutzte Codes anzeigen'}" />
			</div>
		</div>
		<div class="form-group">
			<input class="btn btn-default btn-sm" type="submit" value="übernehmen">
		</div>
	</f:form>
</f:section>

<f:section name="content">	
	<f:if condition="{identifier}!=''">
		<script>
			TYPO3.jQuery(document).ready(function() {
				window.location.replace('<f:uri.action action="download" absolute="1" arguments="{identifier:identifier}" />');
			});	
		</script>
	</f:if>
</f:section>