<f:be.container loadJQuery="1">
	<f:if condition="{compatibility}">
		<link rel="stylesheet" type="text/css" href="../typo3conf/ext/moox_payment_voucher/Resources/Public/Compatibility/zextensions.css" media="all">
		<link rel="stylesheet" type="text/css" href="../typo3conf/ext/moox_payment_voucher/Resources/Public/Compatibility/t3skin.css" media="all">
		<link rel="stylesheet" type="text/css" href="../typo3conf/ext/moox_payment_voucher/Resources/Public/Compatibility/backend.css" media="all">
		<script src="../typo3conf/ext/moox_payment_voucher/Resources/Public/Compatibility/bootstrap.js" type="text/javascript"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
		var TYPO3 = TYPO3 || {}; TYPO3.jQuery = jQuery.noConflict(true);
		/*]]>*/
		</script>
	</f:if>
	<div class="moox-payment-voucher">
		<f:render section="header" />
		<div class="module-body t3js-module-body" style="padding-top: 90px">
			<f:render section="headline" />
			<f:flashMessages renderMode="div" />
			<f:if condition="{elements->f:count()}>0">						
				<f:render section="filter" />
				<f:render section="content" />
			</f:if>
		</div>
	</div>	
</f:be.container>
